bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Slova.Backuper/.idea/encodings.xml
/.idea/.idea.Slova.Backuper/.idea/workspace.xml
/.idea/.idea.YandexDiskBackuper/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.Slova.Backuper/.idea/contentModel.xml
/.idea/.idea.YandexDiskBackuper/.idea/contentModel.xml
/.idea/.idea.YandexDiskBackuper/.idea/encodings.xml
/.idea/.idea.Slova.Backuper/.idea/indexLayout.xml
/.idea/.idea.YandexDiskBackuper/.idea/indexLayout.xml
/.idea/.idea.Slova.Backuper/.idea/modules.xml
/.idea/.idea.YandexDiskBackuper/.idea/modules.xml
/.idea/.idea.Slova.Backuper/.idea/projectSettingsUpdater.xml
/.idea/.idea.YandexDiskBackuper/.idea/projectSettingsUpdater.xml
/.idea/.idea.Slova.Backuper/.idea/vcs.xml
/.idea/.idea.YandexDiskBackuper/.idea/vcs.xml
/.idea/.idea.YandexDiskBackuper/.idea/workspace.xml
/Slova.Backuper.sln.DotSettings.user
