bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
d/.idea/.idea.DictionaryBackup/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.DictionaryBackup/.idea/contentModel.xml
/.idea/.idea.DictionaryBackup/.idea/encodings.xml
/.idea/.idea.DictionaryBackup/.idea/indexLayout.xml
/.idea/.idea.DictionaryBackup/.idea/modules.xml
/.idea/.idea.DictionaryBackup/.idea/projectSettingsUpdater.xml
/.idea/.idea.DictionaryBackup/.idea/vcs.xml
/.idea/.idea.DictionaryBackup/.idea/workspace.xml
/.idea/.idea.DictionaryBackup/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/workspace.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/encodings.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/projectSettingsUpdater.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/.name
/.idea/.idea.YandexDiskSingleFileBackup/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/contentModel.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/indexLayout.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/modules.xml
/.idea/.idea.YandexDiskSingleFileBackup/.idea/vcs.xml
